[Unit]
Description=Mavlink Router
Wants=network.target
After=network-online.target

[Service]
Type=simple
ExecStart=/home/radxa/chumbo/scripts/start_mavlink_router.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
