[Unit]
Description=Video Streamer
Wants=network.target
After=network-online.target

[Service]
Type=simple
ExecStart=/home/radxa/chumbo/scripts/stream_video.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target

